@model SchoolSystem.Models.Class

@{
    ViewData["Title"] = "Details Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-3 border-dark">
    <div class="card-header bg-dark bg-gradient">
        <h4 class="text-center text-white">
            @ViewBag.Title
        </h4>
    </div>
    
    <div>
        <dl class="row m-2">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ClassName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ClassName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ClassRoom)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ClassRoom)
            </dd>
    </div>

    <div class="card-footer">
        <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>
</div>
