@model SchoolSystem.Models.Professor

@{
    ViewData["Title"] = "Delete Prosessor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-3 border-dark">
    <div class="card-header bg-dark bg-gradient">
        <h4 class="text-center text-white">
            @ViewBag.Title
        </h4>
    </div>

    <div>
        <dl class="row m-2">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProfessorName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProfessorName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProfessorLastN)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProfessorLastN)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProfessorClass)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProfessorClass)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProfessorAge)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProfessorAge)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ProfessorPhone)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ProfessorPhone)
            </dd> 
        </dl>
    
        <div class="card-footer">        
             <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
             </form>
        </div>
    </div>
</div>
