@model IEnumerable<SchoolSystem.Models.Professor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorLastN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorLastN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
